<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StoreManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateOwnerServlet</display-name>
    <servlet-name>CreateOwnerServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.CreateOwnerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOwnerServlet</servlet-name>
    <url-pattern>/CreateOwnerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthenicatorServlet</display-name>
    <servlet-name>AuthenicatorServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.AuthenicatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenicatorServlet</servlet-name>
    <url-pattern>/AuthenicatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertItemServlet</display-name>
    <servlet-name>InsertItemServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.InsertItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertItemServlet</servlet-name>
    <url-pattern>/InsertItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateItempriceServlet</display-name>
    <servlet-name>UpdateItempriceServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.UpdateItempriceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItempriceServlet</servlet-name>
    <url-pattern>/UpdateItempriceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateItemquantityServlet</display-name>
    <servlet-name>UpdateItemquantityServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.UpdateItemquantityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateItemquantityServlet</servlet-name>
    <url-pattern>/UpdateItemquantityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteItemServlet</display-name>
    <servlet-name>DeleteItemServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.DeleteItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteItemServlet</servlet-name>
    <url-pattern>/DeleteItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillgenerationServlet</display-name>
    <servlet-name>BillgenerationServlet</servlet-name>
    <servlet-class>in.ac.adit.servlet.BillgenerationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillgenerationServlet</servlet-name>
    <url-pattern>/BillgenerationServlet</url-pattern>
  </servlet-mapping>
</web-app>